In [29]:
import pandas as pd
airports = pd.read_excel('airports.xlsx')

In [30]:
airports.shape #num of rows and columns

(73131, 18)

In [31]:
airports.info()#columns, types, and non-null

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73131 entries, 0 to 73130
Data columns (total 18 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 73131 non-null  int64
 1   ident              73131 non-null  object
 2   type               73131 non-null  object
 3   name               73131 non-null  object
 4   latitude_deg       73131 non-null  float64
 5   longitude_deg      73131 non-null  float64
 6   elevation_ft       59246 non-null  float64
 7   continent          37662 non-null  object
 8   iso_country        72872 non-null  object
 9   iso_region         73131 non-null  object
 10  municipality       67928 non-null  object
 11  scheduled_service  73131 non-null  object
 12  gps_code           42965 non-null  object
 13  iata_code          9248 non-null   object
 14  local_code         32924 non-null  object
 15  home_link          3474 non-null   object
 16  wikipedia_link     10639 non-null  object
 17  keywords           13612 non-null  object
dtypes: float64(3), int64(1), object(14)
memory usage: 10.0+ MB

In [32]:
from bs4 import BeautifulSoup
import requests

def getHTML(url):
    response = requests.get(url)
    return response.text

html = getHTML('https://www.countrycode.org')
soup = BeautifulSoup(html, 'html.parser')

table = soup.find('table',attrs={'class':'main-table'})

countries = []

for row in table.find_all_next('tr'):
    cells = row.find_all_next('td')
    country = {}
    country['name'] = cells[0].string 
    countrycodes = cells[2].string 
    country['iso-2'] = countrycodes.split('/')[0]
    country['iso-3'] = countrycodes.split('/')[1]
    countries.append(country)

In [33]:
countries_df = pd.DataFrame(countries)

print(countries_df.tail(5))

                  name iso-2 iso-3
477  Wallis and Futuna   WF    WLF
478     Western Sahara   EH    ESH
479              Yemen   YE    YEM
480             Zambia   ZM    ZMB
481           Zimbabwe   ZW    ZWE

In [34]:
airports.isna()

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
0,False,False,False,False,False,False,False,True,False,False,False,False,False,True,False,True,True,True
1,False,False,False,False,False,False,False,True,False,False,False,False,False,True,False,True,True,True
2,False,False,False,False,False,False,False,True,False,False,False,False,False,True,False,True,True,True
3,False,False,False,False,False,False,False,True,False,False,False,False,False,True,False,True,True,True
4,False,False,False,False,False,False,False,True,False,False,False,False,True,True,True,True,True,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
73126,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True,False,False,False
73127,False,False,False,False,False,False,False,False,False,False,False,False,True,True,True,True,True,True
73128,False,False,False,False,False,False,False,True,False,False,False,False,False,True,False,True,True,True
73129,False,False,False,False,False,False,False,True,False,False,False,False,False,False,False,True,True,True
73130,False,False,False,False,False,False,False,False,False,False,False,False,False,True,False,True,False,False

In [35]:
airports.continent.isna()

0         True
1         True
2         True
3         True
4         True
         ...
73126    False
73127    False
73128     True
73129     True
73130    False
Name: continent, Length: 73131, dtype: bool

In [36]:
airports[airports.continent.isna()] #looking for null continents

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
0,6523,00A,heliport,Total Rf Heliport,40.070801,-74.933601,11.0,NaN,US,US-PA,Bensalem,no,00A,NaN,00A,NaN,NaN,NaN
1,323361,00AA,small_airport,Aero B Ranch Airport,38.704022,-101.473911,3435.0,NaN,US,US-KS,Leoti,no,00AA,NaN,00AA,NaN,NaN,NaN
2,6524,00AK,small_airport,Lowell Field,59.947733,-151.692524,450.0,NaN,US,US-AK,Anchor Point,no,00AK,NaN,00AK,NaN,NaN,NaN
3,6525,00AL,small_airport,Epps Airpark,34.864799,-86.770302,820.0,NaN,US,US-AL,Harvest,no,00AL,NaN,00AL,NaN,NaN,NaN
4,6526,00AR,closed,Newport Hospital & Clinic Heliport,35.608700,-91.254898,237.0,NaN,US,US-AR,Newport,no,NaN,NaN,NaN,NaN,NaN,00AR
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
72921,26369,ZNC,small_airport,Nyac Airport,60.980701,-159.994003,460.0,NaN,US,US-AK,Nyac,no,ZNC,ZNC,ZNC,NaN,https://en.wikipedia.org/wiki/Nyac_Airport,NaN
72922,332195,ZNU,seaplane_base,Namu Water Aerodrome,51.862825,-127.869357,0.0,NaN,CA,CA-BC,Namu,no,NaN,ZNU,NaN,NaN,NaN,NaN
73122,342103,ZYXW,closed,Mt Logan Airstrip,60.792990,-138.694027,1997.0,NaN,CA,CA-YT,Unorganized Yukon,no,ZYXW,ZYA,YK90,NaN,NaN,NaN
73128,346788,ZZ-0003,small_airport,Fainting Goat Airport,32.110587,-97.356312,690.0,NaN,US,US-TX,Blum,no,87TX,NaN,87TX,NaN,NaN,NaN
73129,342102,ZZZW,closed,Scandium City Heliport,69.355287,-138.939310,4.0,NaN,CA,CA-YT,(Old) Scandium City,no,ZZZW,ZYW,YK96,NaN,NaN,NaN

In [37]:
airports[airports.continent.isna()].iso_country.unique() #filtering the null continents and printing the iso code

array(['US', 'PR', 'CO', 'AG', 'AI', 'MX', 'AW', 'GL', 'GB', 'BM', 'BQ',
       'BS', 'BZ', 'CA', 'CR', 'CU', 'PA', 'DO', 'GT', 'GP', 'HN', 'HT',
       'JM', 'KY', 'PM', 'TC', 'GD', 'NI', 'MQ', 'SV', 'MF', 'VI', 'BB',
       'DM', 'BL', 'KN', 'LC', 'CW', 'SX', 'VG', 'MS', 'TT', 'VC', 'VE'],
      dtype=object)

In [38]:
airports['continent'].fillna('NA', inplace = True) # replacing continent with NA

In [39]:
len(airports[airports.continent.isna()]) #checking that null length is now 0

0

In [40]:
wiki_airports = airports.dropna(subset=['name','wikipedia_link'])

In [41]:
wiki_airports = wiki_airports[['name','wikipedia_link']]
wiki_airports.head()

,name,wikipedia_link
45,McKenzie Bridge State Airport,https://en.wikipedia.org/wiki/McKenzie_Bridge_...
69,Grant Airport,https://en.wikipedia.org/wiki/Grant_Airport
231,Utirik Airport,https://en.wikipedia.org/wiki/Utirik_Airport
250,Sandy River Airport,https://en.wikipedia.org/wiki/Sandy_River_Airport
376,Vernonia Airfield,https://en.wikipedia.org/wiki/Vernonia_Airfield

In [42]:
countries_and_regions = airports[['iso_country','iso_region']] #store them in their own DataFrame
countries_and_regions.duplicated() #check for dupes

0        False
1        False
2        False
3        False
4        False
         ...
73126     True
73127     True
73128     True
73129     True
73130     True
Length: 73131, dtype: bool

In [43]:
cleaned_countries_and_regions = countries_and_regions.drop_duplicates() #droping dupes
cleaned_countries_and_regions.duplicated()

0        False
1        False
2        False
3        False
4        False
         ...
72915    False
72916    False
72918    False
72919    False
72920    False
Length: 2868, dtype: bool

In [44]:
import pandas as pd
airports = pd.read_excel('airports.xlsx',keep_default_na=False)

In [45]:
airports.head()

,id,ident,type,name,latitude_deg,longitude_deg,elevation_ft,continent,iso_country,iso_region,municipality,scheduled_service,gps_code,iata_code,local_code,home_link,wikipedia_link,keywords
0,6523,00A,heliport,Total Rf Heliport,40.070801,-74.933601,11,NA,US,US-PA,Bensalem,no,00A,,00A,,,
1,323361,00AA,small_airport,Aero B Ranch Airport,38.704022,-101.473911,3435,NA,US,US-KS,Leoti,no,00AA,,00AA,,,
2,6524,00AK,small_airport,Lowell Field,59.947733,-151.692524,450,NA,US,US-AK,Anchor Point,no,00AK,,00AK,,,
3,6525,00AL,small_airport,Epps Airpark,34.864799,-86.770302,820,NA,US,US-AL,Harvest,no,00AL,,00AL,,,
4,6526,00AR,closed,Newport Hospital & Clinic Heliport,35.608700,-91.254898,237,NA,US,US-AR,Newport,no,,,,,,00AR

In [53]:
airports = airports [['name','continent','iso_country','iso_region','latitude_deg','longitude_deg']]

In [47]:
airports.continent.unique()

array(['NA', 'OC', 'AF', 'AN', 'EU', 'AS', 'SA'], dtype=object)

In [48]:
na_airports = airports[airports.continent == 'NA']

In [49]:
na_airports.describe()

       latitude_deg  longitude_deg
count  35469.000000   35469.000000
mean      38.147809     -96.508971
std        9.296945      18.380338
min       -2.144851    -178.656380
25%       32.699280    -108.276001
50%       38.436001     -94.647583
75%       42.948601     -83.383499
max       82.750000     179.275997

In [50]:
na_airports.info() #where is elevation?

<class 'pandas.core.frame.DataFrame'>
Int64Index: 35469 entries, 0 to 73129
Data columns (total 6 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   name           35469 non-null  object
 1   continent      35469 non-null  object
 2   iso_country    35469 non-null  object
 3   iso_region     35469 non-null  object
 4   latitude_deg   35469 non-null  float64
 5   longitude_deg  35469 non-null  float64
dtypes: float64(2), object(4)
memory usage: 1.9+ MB

In [51]:
na_airports['elevation_ft'] = pd.to_numeric(airports['elevation_ft'])
na_airports.info()

KeyError: 'elevation_ft'

In [ ]:
na_airports.describe()